<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Muzix</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="track/getWishes" class="nav-link" routerLinkActive="active">
                WishList
              </a>
            </li>
            <li class="nav-item">
                <a routerLink="track/search" class="nav-link" routerLinkActive="active">
                  Search
                </a>
            </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input #input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup.enter) = "getInput(input.value)">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click) = "searchTracks(input.value)">Search</button>
      </form> -->
    </div>
  </nav>


<div class="container">
  <router-outlet></router-outlet>
</div>